.blog__list {

  width: 100%;

  padding: 0 9%;
}

.blog__item {
  position: relative;
  width: 710px;
  max-width: 100%;
  height: 660px;
  margin: auto;
  @media (max-width: $tablet) {
    width: 480px;
    height: 400px;
  }

  @media (max-width: $mob) {
    width: 100%;
    height: 300px;
  }
}

.blog__pic {
  width: 100%;
  height: 615px;
  object-fit: cover;

  @media (max-width: $tablet) {
    height: 320px;
  }

  @media (max-width: $mob) {
    height: 220px;
  }
}

.blog__info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;

  width: 90%;
  max-height: 220px;
  padding: 50px 25px;

  text-align: center;
  box-shadow: 0 0 5px #999999;
  background: #fff;
  @media (max-width: $tablet) {
    max-height: 180px;
    padding: 20px 25px;
  }
}

.blog__label {
  position: absolute;
  left: 0;
  top: 0;

  width: 165px;
  padding-left: 20px;

  background: #e27878;
  color: #fff;

  font-size: 23px;
  line-height: 42px;
  font-weight: 700;
  text-transform: uppercase;
}

.blog__date {
  color: $blue;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;

  @media (max-width: $mob) {
    font-size: 14px;
  }
}


.blog__title {
  margin-top: 95px;

  @media (max-width: $mob) {
    margin-top: 65px;
  }
}

.blog__header {
  font-size: 30px;
  padding: 0 50px;
  margin: 10px 0 30px;

  @media (max-width: $tablet) {
    font-size: 21px;
  }

  @media (max-width: $mob) {
    font-size: 18px;
    padding: 0 15px;
  }
}
