.footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding: 31px 18px;
  background: #122332;

  margin-top: 85px;

  font-size: 18px;
  font-weight: 700;
  color: #5a6570;

  @media (max-width: 767px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: $mob) {
    margin-top: 55px;
  }
}


.footer__socials {
  margin-left: 27%;
  @media (max-width: 767px) {
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.footer__privacy {
  margin-left: auto;
  transition: all 0.3s;
  &:hover {
    color: $blue;
  }

  @media (max-width: 767px) {
    margin-left: 0;
  }
}

.footer__copyright {
  @media (max-width: 767px) {
    text-align: center;
  }
}
