.footer {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding: 31px 18px;
  background: #122332;
  color: #5a6570;

  margin-top: 100px;
}


.footer__socials {
  margin-left: 29%;
}

.footer__privacy {
  margin-left: auto;
}
